<div class="card-container">
  @for (item of tableProps().data; track item) {
    <p-card [header]="tableProps().header" styleClass="mb-4">
      @for (col of tableProps().columns; track col) {
        <div class="p-2">
          <strong>{{ col.header }}:</strong> {{ item[col.field] }}
        </div>
      }
      @if (actions.length > 0) {
        <div class="p-2 flex gap-2 justify-end">
          @if (hasAction('view')) {
            <p-button
              icon="pi pi-eye"
              size="small"
              severity="secondary"
              text="true"
              (click)="goToDetail(item)"
              title="Detalle"
            />
          }
          @if (hasAction('update')) {
            <p-button
              icon="pi pi-pencil"
              size="small"
              severity="info"
              text="true"
              (click)="goToEdit(item)"
              title="Editar"
            />
          }
          @if (hasAction('delete')) {
            <p-button
              icon="pi pi-trash"
              size="small"
              severity="danger"
              text="true"
              (click)="onDelete(item)"
              title="Eliminar"
            />
          }
        </div>
      }
    </p-card>
  } @empty {
    <p>No data found.</p>
  }
</div>
