<div class="w-full min-w-0 flex flex-col overflow-x-hidden">
  <p-button (click)="visible.set(true)" icon="pi pi-plus" class="self-end"/>

  <p-dialog
    [header]="dialogHeader"
    [(visible)]="visible"
    [modal]="true"
    [dismissableMask]="true"
    [draggable]="false"
    [resizable]="false"
    [style.width]="UI.DIALOG_WIDTH"
    [breakpoints]="{ '960px': '92vw', '640px': '96vw' }"
    (onHide)="onDialogHide()"
  >
    <ng-content #form>

    </ng-content>
  </p-dialog>

  <div class="w-full min-w-0 overflow-x-hidden">
    <app-selected-display (delete)="deletedFn($event)" (pageChange)="onPageChange($event)"></app-selected-display>
  </div>
</div>
