<form class="border rounded p-2 gap-4 w-full ">
  <div [class]="gridClasses()" >
  @for (field of fields(); track field.key) {
    @if (isRepeatableField(field)) {
      <!-- Campo Repetible -->
      <div class="flex flex-col gap-2">
        <div formArrayName="field.key" class="space-y-2">
          @for (control of getFormArray(field.key).controls; track i; let i = $index) {
            <app-dynamic-field
              [fieldControl]="field"
              [form]="form()"
              [isArrayItem]="true"
              [arrayIndex]="i"
            >
            </app-dynamic-field>
            <div class="flex flex-1 justify-end gap-2">
              <p-button
                icon="pi pi-times"
                [rounded]="true"
                [outlined]="getFormArray(field.key).length === field.state.repeatible.minItems"
                severity="danger"
                (click)="removeField(field.key, i)"
                [disabled]="getFormArray(field.key).length === field.state.repeatible.minItems"
                pTooltip="Eliminar"
                tooltipPosition="top"
              />
              <p-button
                icon="pi pi-plus"
                [rounded]="true"
                [outlined]="getFormArray(field.key).length >= field.state.repeatible.maxItems"
                severity="success"
                (click)="addField(field.key)"
                [disabled]="getFormArray(field.key).length >= field.state.repeatible.maxItems"
                pTooltip="Agregar"
                tooltipPosition="top"
              />
            </div>
          }
        </div>
        <!-- Agregar -->
      </div>
    } @else {
      <!-- Campo Normal -->
      <app-dynamic-field [fieldControl]="field" [form]="form()"> </app-dynamic-field>
    }
  }
  
</div>
@if (!readonlyMode()) {
    <div class="flex justify-center gap-2 w-full">
          <p-button
      [rounded]="true"
      severity="secondary"
      label="Limpiar"
      (click)="onClear()"
      [disabled]="form().pristine"
    />
    <p-button
      severity="success"
      label="Guardar"
      (click)="onSubmit()"
      [disabled]="!form().valid"
      [loading]="loadingService.isLoading()"
      [rounded]="true"
    />

  </div>
}

</form>
