<p-table
  #data_table
  [paginator]="true"
  [lazy]="true"
  [scrollable]="true"
  [columns]="tableProps().columns"
  [value]="tableProps().data"
  [rows]="tableProps().rows"
  [totalRecords]="tableProps().totalRecords ?? tableProps().data.length"
  [rowsPerPageOptions]="tableProps().rowsPerPageOptions"
  [tableStyle]="{ 'min-width': '50rem' , 'background-color': 'white' } "
  [size]="'small'"
  (onPage)="onPageChange($event)"
>
  <ng-template #caption>
    <div class="text-end pb-4">
      <p-button icon="pi pi-external-link" label="Export" (click)="data_table.exportCSV()" [disabled]="tableProps().data.length === 0" />
    </div>
  </ng-template>

  <ng-template #header let-columns>
    <tr>
      @for (col of columns; track col) {
        <th pSortableColumn="">
          {{ col.header }}
        </th>
      }
      @if (hasAnyAction) {
        <th class="text-center">Acciones</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-rowData let-columns="columns">
    <tr>
      @for (col of columns; track col) {
        <td>
          @let cellValue = rowData[col.field];
          @if (shouldRenderAsBadge(cellValue)) {
            <p-tag [value]="getBadgeLabel(cellValue)" [severity]="getBadgeSeverity(cellValue)" />
          } @else {
            {{ formatCellValue(cellValue) }}
          }
        </td>
      } @empty {
        <td>No data found.</td>
      }
      @if (hasAnyAction) {
        <td class="flex gap-2 justify-center">
          @if (hasAction('view')) {
            <p-button
              icon="pi pi-eye"
              size="small"
              severity="secondary"
              text="true"
              (click)="goToDetail(rowData)"
              title="Detalle"
            />
          }
          @if (hasAction('update')) {
            <p-button
              icon="pi pi-pencil"
              size="small"
              severity="info"
              text="true"
              (click)="goToEdit(rowData)"
              title="Editar"
            />
          }
          @if (hasAction('delete')) {
            <p-button
              icon="pi pi-trash"
              size="small"
              severity="danger"
              text="true"
              (click)="onDelete(rowData)"
              title="Eliminar"
            />
          }
          @for (ra of rowActions; track ra.label) {
            <p-button
              [icon]="ra.icon"
              size="small"
              [severity]="ra.severity ?? 'secondary'"
              text="true"
              (click)="ra.action(rowData)"
              [title]="ra.label"
            />
          }
        </td>
      }
    </tr>
  </ng-template>
  <ng-template #footer>
    <tr>
      <td colspan="100%">In total there are {{ tableProps().totalRecords ?? tableProps().data.length }} items.</td>
    </tr>
  </ng-template>
</p-table>
