<p-table
  #data_table
  [paginator]="true"
  [scrollable]="true"
  [columns]="tableProps().columns"
  [value]="tableProps().data"
  [rows]="tableProps().rows"
  [rowsPerPageOptions]="tableProps().rowsPerPageOptions"
>
  <ng-template #caption>
    <div class="text-end pb-4">
      <p-button icon="pi pi-external-link" label="Export" (click)="data_table.exportCSV()" />
    </div>
  </ng-template>

  <ng-template #header let-columns>
    <tr>
      @for (col of columns; track col) {
        <th pSortableColumn="">
          {{ col.header }}
        </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-rowData let-columns="columns">
    <tr>
      @for (col of columns; track col) {
        <td>
          {{ rowData[col.field] }}
        </td>
      } @empty {
        <td>No data found.</td>
      }
    </tr>
  </ng-template>
  <ng-template #footer>
    <tr>
      <td colspan="100%">In total there are {{ tableProps().data.length }} items.</td>
    </tr>
  </ng-template>
</p-table>
